<!Doctype html>
<html>
<head>
    <title>Registration page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div>
    <div class="menubar">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
    </div>
</div>
<hr>
<h4>{{ response }}</h4>
    <div class="textbox">
    <form action="" method="post">
        {% csrf_token %}
        <lable>First Name:</lable>
        <input type="text" name="first_name"><br>
        <lable>Middle Name:</lable>
        <input type="text" name="middle_name"><br>
        <lable>Last Name:</lable>
        <input type="text" name="last_name"><br>
        <lable>Contact:</lable>
        <input type="text" name="contact"><br>
        <lable>Address:</lable>
        <input type="text" name="address"><br>
        <lable>Username:</lable>
        <input type="text" name="username"><br>
        <lable>Email:</lable>
        <input type="text" name="email"><br>
        <lable>Password:</lable>
        <input type="Password" name="password"><br>
        <lable>Confirm Password:</lable>
        <input type="Password" name="Confirm Password"><br>
        <input type="submit" name="submit" value="submit">
    </form>
    </div>
<hr>
<div>
    <div class="author2">
    <p>Created by Swapna Chinmay Gharat</p>
    </div>
</div>
</body>
</html>