<!Doctype html>
<html>
<head>
    <title>Login page</title>
</head>
<body>
<div>
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
</div>
<div>
    <form action="#" method="post">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password" name="password">
    </form>
</div>
<div>
    <input type="button" value="Submit">
    <input type="button" value="Reset">
</div>
</body>
</html>