<!Doctype html>
<html>
<head>
    <title>Registration page</title>
</head>
<body>
<div>
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
</div>
<hr>
<div>
    <form action="#" method="post">
        <lable>First Name:</lable>
        <input type="text" name="First Name"><br>
        <lable>Middle Name:</lable>
        <input type="text" name="Middle Name"><br>
        <lable>Last Name:</lable>
        <input type="text" name="Last Name"><br>
        <lable>Contact:</lable>
        <input type="text" name="contact"><br>
        <lable>Address:</lable>
        <input type="text" name="Address"><br>
        <lable>Username:</lable>
        <input type="text" name="Username"><br>
        <lable>Password:</lable>
        <input type="Password" name="First Name"><br>
        <lable>Confirm Password:</lable>
        <input type="Password" name="Confirm Password"><br>
        <input type="button" value="submit">
    </form>
</div>
<hr>
<div>
    <p>Created by Swapna Chinmay Gharat</p>
</div>
</body>
</html>