<!Doctype html>
<html>
<head>
    <title>Login page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div>
	<div class="menubar">
    <a href="#">Home</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
    <a href="#">FAQ</a>
	</div>
</div>
<hr>
<div>
    <form action=" " method="post">
        {% csrf_token %}
	<div class="textbox">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="password"name="password"><br>
        <div class="textbox1">
            <input type="submit" name="Submit" value="Submit">
            <input type="submit" name="Reset" value="Reset">
        </div>
	</div>
    </form>
</div>
<hr>
<div>
	<div class="author2">
    <p>Created by Swapna Chinmay Gharat</p>
	</div>
</div>
</body>
</html>